.btn__start {
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  margin: auto;
  background: linear-gradient(60deg, rgba(111,199,234,1) 0%,
  rgba(55,184,203,1) 100%);
}

.wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
}
